<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209877600306-ck9rk2ino65ja9j5fsokjqehbdg83tfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209877600306-ck9rk2ino65ja9j5fsokjqehbdg83tfj</string>
	<key>API_KEY</key>
	<string>AIzaSyAdLpl4K0L_tFuyM5swJ_U2mpXeIndpXHE</string>
	<key>GCM_SENDER_ID</key>
	<string>209877600306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pursuit-fellowship.Passion</string>
	<key>PROJECT_ID</key>
	<string>passion-78bab</string>
	<key>STORAGE_BUCKET</key>
	<string>passion-78bab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209877600306:ios:75a136fb03e04c7bced42b</string>
	<key>DATABASE_URL</key>
	<string>https://passion-78bab.firebaseio.com</string>
</dict>
</plist>